<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALcJByy6vj5wkH4AL1VyXNcey2HDt_pvI</string>
	<key>GCM_SENDER_ID</key>
	<string>893293172314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gchat.app</string>
	<key>PROJECT_ID</key>
	<string>g-chat-cf109</string>
	<key>STORAGE_BUCKET</key>
	<string>g-chat-cf109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893293172314:ios:638e7905d9f98d62f66a63</string>
</dict>
</plist>